use crate::infrastructure::DbPool;
{% if "redis" in infrastructure %}
use redis::Client as RedisClient;
{% endif %}

#[derive(Clone)]
pub struct AppState {
    pub db: DbPool,
    {% if "redis" in infrastructure %}
    pub redis: RedisClient,
    {% endif %}
}