use serde::Deserialize;
use validator::Validate;

#[derive(Debug, Clone, Deserialize, Validate)]
pub struct CreateTruckCommand {
    #[validate(length(min = 3, max = 50))]
    pub license_plate: String,
    #[validate(range(min = 1.0))]
    pub capacity: f32,
}
